[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ewmh = "*"

[dev-packages]
ipython = "*"
mypy = "*"
"flake8" = "*"
invoke = "*"

[requires]
python_version = "3.7"
